@font-face {
  font-family: 'HeadingWest';
  src: url('../fonts/HeadingWest.woff2?shd6ak') format('woff2'),
       url('../fonts/HeadingWest.otf?shd6ak') format('opentype');
  font-style: normal;
  font-weight: normal;
}