@font-face {
  font-family: 'HeadingWest';
  src: url('../fonts/HeadingWest.woff2?hagd4w') format('woff2'),
       url('../fonts/HeadingWest.otf?hagd4w') format('opentype');
  font-style: normal;
  font-weight: normal;
}